<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>929068208165-2hv98sdfvjs09j8q0hf806t5d25h5irm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929068208165-2hv98sdfvjs09j8q0hf806t5d25h5irm</string>
	<key>API_KEY</key>
	<string>AIzaSyD8tqtn3qeXXG0-QBp1iRRSIWhNnwUWMi0</string>
	<key>GCM_SENDER_ID</key>
	<string>929068208165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marian.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-9f8b4</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-9f8b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929068208165:ios:01e9b04a49af62db</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-9f8b4.firebaseio.com</string>
</dict>
</plist>